
#radio-btn1:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6:checked ~ .frist-slid{
    margin-left:-445%;
}
#radio-btn7:checked ~ .frist-slid{
    margin-left:-540%;
}
#radio-btn8:checked ~ .frist-slid{
    margin-left:-630%;
}
#radio-btn9:checked ~ .frist-slid{
    margin-left:-720%;
}
#radio-btn10:checked ~ .frist-slid{
    margin-left:-815%;
}
#radio-btn11:checked ~ .frist-slid{
    margin-left:-910%;
}
#radio-btn12:checked ~ .frist-slid{
    margin-left:-995%;
}
#radio-btn13:checked ~ .frist-slid{
    margin-left:-1090%;
}
#radio-btn14:checked ~ .frist-slid{
    margin-left:-1180%;
}
#radio-btn15:checked ~ .frist-slid{
    margin-left:-1300%;
}
/* --------------------------------------------------------------------------- */
#radio-fbtn1:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-fbtn2:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-fbtn3:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-fbtn4:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-fbtn5:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-fbtn6:checked ~ .frist-slid{
    margin-left:-445%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-0:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-0:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-0:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-0:checked ~ .frist-slid{
    margin-left:-265%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-1:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-1:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-1:checked ~ .frist-slid{
    margin-left:-170%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-2:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-2:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-2:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-2:checked ~ .frist-slid{
    margin-left:-265%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-4:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-4:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-4:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-4:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-4:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-4:checked ~ .frist-slid{
    margin-left:-445%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-5:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-5:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-5:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-5:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-5:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-6:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-6:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-6:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-6:checked ~ .frist-slid{
    margin-left:-265%;
}

/* --------------------------------------------------------------------------- */
#radio-btn1-7:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-7:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-7:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-7:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-7:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-8:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-8:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-8:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-8:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-8:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-8:checked ~ .frist-slid{
    margin-left:-445%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-9:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-9:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-9:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-9:checked ~ .frist-slid{
    margin-left:-265%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-10:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-10:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-10:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-10:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-10:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-10:checked ~ .frist-slid{
    margin-left:-445%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-11:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-11:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-11:checked ~ .frist-slid{
    margin-left:-170%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-12:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-12:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-13:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-13:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-13:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-13:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-13:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-14:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-14:checked ~ .frist-slid{
    margin-left:-85%;
}
/* -----------------------15---------------------------------------------------- */

#radio-btn1-16:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-16:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-16:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-16:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-16:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-17:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-17:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-18:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-18:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-18:checked ~ .frist-slid{
    margin-left:-170%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-19:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-19:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-19:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-19:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-19:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-19:checked ~ .frist-slid{
    margin-left:-445%;
}
#radio-btn7-19:checked ~ .frist-slid{
    margin-left:-540%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-20:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-20:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-21:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-21:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-21:checked ~ .frist-slid{
    margin-left:-170%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-22:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-22:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-22:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-22:checked ~ .frist-slid{
    margin-left:-265%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-23:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-23:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-23:checked ~ .frist-slid{
    margin-left:-170%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-24:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-24:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-25:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-25:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-25:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-25:checked ~ .frist-slid{
    margin-left:-265%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-27:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-27:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-27:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-27:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-27:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-27:checked ~ .frist-slid{
    margin-left:-445%;
}
#radio-btn7-27:checked ~ .frist-slid{
    margin-left:-540%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-28:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-28:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-29:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-29:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-29:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-29:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-29:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-29:checked ~ .frist-slid{
    margin-left:-445%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-30:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-30:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-31:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-31:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-32:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-32:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-32:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-32:checked ~ .frist-slid{
    margin-left:-265%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-33:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-33:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */
#radio-btn1-34:checked ~ .frist-slid{
    margin-left:0 ;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-35:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-35:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-36:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-36:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-36:checked ~ .frist-slid{
    margin-left:-170%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-37:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-37:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-37:checked ~ .frist-slid{
    margin-left:-172%;
}
#radio-btn4-37:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-37:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */
#radio-btn1-38:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-38:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-38:checked ~ .frist-slid{
    margin-left:-172%;
}
#radio-btn4-38:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-38:checked ~ .frist-slid{
    margin-left:-355%;
}

/* --------------------------------------------------------------------------- */
#radio-btn1-39:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-39:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-39:checked ~ .frist-slid{
    margin-left:-172%;
}
#radio-btn4-39:checked ~ .frist-slid{
    margin-left:-265%;
}
/* --------------------------------------------------------------------------- */
#radio-btn1-40:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-40:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-40:checked ~ .frist-slid{
    margin-left:-172%;
}
/* --------------------------------------------------------------------------- */
#radio-btn1-41:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-41:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-41:checked ~ .frist-slid{
    margin-left:-172%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-42:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-42:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-42:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-42:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-42:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-42:checked ~ .frist-slid{
    margin-left:-445%;
}

/* --------------------------------------------------------------------------- */
#radio-btn1-43:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-43:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-43:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-43:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-43:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-43:checked ~ .frist-slid{
    margin-left:-445%;
}
#radio-btn7-43:checked ~ .frist-slid{
    margin-left:-540%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-44:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-44:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-44:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-44:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-44:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-44:checked ~ .frist-slid{
    margin-left:-445%;
}
#radio-btn7-44:checked ~ .frist-slid{
    margin-left:-540%;
}
#radio-btn8-44:checked ~ .frist-slid{
    margin-left:-630%;
}
#radio-btn9-44:checked ~ .frist-slid{
    margin-left:-720%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-45:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-45:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-46:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-46:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-49:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-49:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-50:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-50:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-50:checked ~ .frist-slid{
    margin-left:-180%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-52:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-52:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-54:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-54:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-55:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-55:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-55:checked ~ .frist-slid{
    margin-left:-180%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-56:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-56:checked ~ .frist-slid{
    margin-left:-85%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-57:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-57:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-57:checked ~ .frist-slid{
    margin-left:-180%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-58:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-58:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-58:checked ~ .frist-slid{
    margin-left:-180%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-59:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-59:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-59:checked ~ .frist-slid{
    margin-left:-180%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-60:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-60:checked ~ .frist-slid{
    margin-left:-85%;
}