
#radio-btn1:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6:checked ~ .frist-slid{
    margin-left:-445%;
}
#radio-btn7:checked ~ .frist-slid{
    margin-left:-540%;
}
#radio-btn8:checked ~ .frist-slid{
    margin-left:-630%;
}
#radio-btn9:checked ~ .frist-slid{
    margin-left:-720%;
}
#radio-btn10:checked ~ .frist-slid{
    margin-left:-815%;
}
#radio-btn11:checked ~ .frist-slid{
    margin-left:-910%;
}
#radio-btn12:checked ~ .frist-slid{
    margin-left:-995%;
}
#radio-btn13:checked ~ .frist-slid{
    margin-left:-1090%;
}
#radio-btn14:checked ~ .frist-slid{
    margin-left:-1180%;
}
#radio-btn15:checked ~ .frist-slid{
    margin-left:-1300%;
}
/* --------------------------------------------------------------------------- */
#radio-fbtn1:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-fbtn2:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-fbtn3:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-fbtn4:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-fbtn5:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-fbtn6:checked ~ .frist-slid{
    margin-left:-445%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-0:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-0:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-0:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-0:checked ~ .frist-slid{
    margin-left:-265%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-1:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-1:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-1:checked ~ .frist-slid{
    margin-left:-170%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-2:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-2:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-2:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-2:checked ~ .frist-slid{
    margin-left:-265%;
}

/* --------------------------------------------------------------------------- */

#radio-btn1-4:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-4:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-4:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-4:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-4:checked ~ .frist-slid{
    margin-left:-355%;
}
#radio-btn6-4:checked ~ .frist-slid{
    margin-left:-445%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-5:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-5:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-5:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-5:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-5:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */

#radio-btn1-6:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-6:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-6:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-6:checked ~ .frist-slid{
    margin-left:-265%;
}

/* --------------------------------------------------------------------------- */
#radio-btn1-7:checked ~ .frist-slid{
    margin-left:0 ;
}
#radio-btn2-7:checked ~ .frist-slid{
    margin-left:-85%;
}
#radio-btn3-7:checked ~ .frist-slid{
    margin-left:-170%;
}
#radio-btn4-7:checked ~ .frist-slid{
    margin-left:-265%;
}
#radio-btn5-7:checked ~ .frist-slid{
    margin-left:-355%;
}
/* --------------------------------------------------------------------------- */